<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>The Oppressed Archives</title>
		<link rel="stylesheet" href="/static/base.css">
		<link rel="icon" href="/favicon.ico">
		<meta name="referrer" content="no-referrer">
	</head>
	<body>
		<div id="header">
			<br>
			<h1>Oppressed Archives</h1>
			<h2>If you're here, something probably went wrong.</h2>
			<br>
			<hr>
			<br>
			<h3>Mind reporting this to Dev on the Discord server?</h3>
			<br>
			<h3 id="back"><a href="/">Go Back</a></h3>
		</div>
	</body>
</html>